.header-choose{
    display: none;
}

.how_we_work.hide-d{
    display:none;
}
.hat_menu li.hide-d{
    display: none;
}

.block-choose-y-type{
    border-top: 2px solid #7dc887;
    display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content:space-between;
    padding: 40px 0;
    display: none;
    max-width: 320px;
    margin: 0 auto;
}
.block-choose-y-type__col{
    padding: 0 20px;
}
.block-choose-y-type__item{
    text-align: center;
    text-transform: uppercase;
    color: #282e3d;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
    display: inline-block;
}
.block-choose-y-type__item:hover{
    color: #7dc887;
    text-decoration: none;
}
.block-choose-y-type__item.active{
    color: #7dc887;
}
.block-choose-y-type__item img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 10px;
}

.catalog__map__info-markers{
    padding: 20px 0;
    display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content:space-between;
    max-width: 320px;
    margin: 0 auto;
    font-size: 14px;
}

.catalog__map__info-marker img{
    margin-right: 5px;
}
.popover{
    border-color: #fff;
  font-family: 'Open Sans', Tahoma, Arial!important;
   box-shadow: 0px 0px 20px rgb(0 0 0 / 0.25);
    max-width: initial;
}
.popover-content{

}
.popover.top {
    margin-top: -10px;
}

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    border-bottom-width: 0;
    border-top-color: #fff;
}
.popover .arrow {
    border-width: 11px;
}


.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #fff;
    border-bottom-width: 0;
}
.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.map__ballon{
    text-align: center;

    padding: 0 10px;
}

.popover-inner{
    width: 320px;
}
.popover-inner *{
    width: 100% !important;
}
.map__header {
 
    padding: 30px 0px 10px;
}
.map__list{
    padding-left: 0;
    padding-right: 0;
}

.type_header span{
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding-top: 10px;
}
.genplan_wrap{
    padding-top: 55px;
}
.ob_desc {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mob_download{
    display: block;
}

@media (max-width: 993px){
    .product_title{
        text-align: center;
    }
    .shop-item-big-images{
        margin: 0 auto;
    }
    .shop-item-previews{
        text-align: center;
    }
}
@media (max-width: 575px){
    .hat_section {
        
        width: 100%;
        max-width: 100%;
        padding: 25px 20px 0 20px;
        display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content:space-between;
    }
    
    .hat_logo {
        padding: 0px;
        width: 70px;
    }
    #mob_menu_opener{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #mob_menu_opener img{
        margin: 0 auto;
    }
    #mob_menu_opener span{
        font-size: 11px;
        font-weight: 800;
        color: #fff;
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .header-choose{
        display: block;
        text-align: center;
        margin: 0;
    }
    .header-choose__link{
        color: #fff;
        font-size: 11px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .header-choose__link span{
        margin-bottom: 10px;
        display: block;
    }
    
    .hat_wrapper .offer_section_text{
        display: none;
    }
    .hat_wrapper{
        height: 475px;
    }
    .discount_section {
        margin-top: 100px;
        margin-bottom: 50px;
        width: 480px;
    }
    .how_we_work.show-m{
        display: block;
        margin-top: -30px;
        padding-top: 0;
    }
    .how_we_work.hide-m{
        display:none;
    }
    .hat_menu li.hide-m{
        display: none;
    }
    .hat_menu li.hide-d{
        display: block;
    }
    .hat_menu_link{
        padding: 14px 0;
            border-bottom: 1px solid #e5e5e5;
    }
    .hat_menu_container ul {
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hat_menu_container ul li:nth-child(1), .hat_menu_container ul li:nth-child(2){
        border: none;
    }
    .hat_wrapper_thin{
        padding-bottom: 25px;
    }
    
    
    .block-choose-y-type{
        display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        
    }
    .type_header{
        line-height: 1.2;
    }

    .catalog__map{
            height: 600px !important;
            border-top: 2px solid #7dc887;
            border-bottom: 2px solid #7dc887;
            margin-left: -17px;
            margin-right: -17px;
            width: calc(100% + 34px) !important;
    }
    .catalog__map .geo{
        height: 100% !important;
        width: 100% !important;
        
    }
    .catalog__map__info-markers{
        padding-top: 10px;
        padding-bottom: 0;
    }

    .product_title {        
        font-size: 26px;
        padding-bottom: 10px;
    }
    .shop-item-big-images{
        margin: 0 auto;
        max-width: 100%;
    }
    .shop-item-previews{
        text-align: left;
         margin: 0 -5px;
    }
    .js_shop_preview_img{
       width: calc(25% - 10px);
    }
    .desc_row{
        display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
    }
    
    .desc_key{
        white-space: nowrap;
    }
    .desc_value{
       width: auto;
    }
    .product__bottom-item{
        width: auto;
    }
    .product_stats .block_title-mhide{
        display: none;
    }
    .product_stats{
         height: auto;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .product_stats .stats_row{
        display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .product_stats .stats_row:after{
        clear: both;
        content: "";
        display: block;
    }
    .product_stats .stats_row .one_stat{
        justify-content: center;
            width: 55px;
    }
    
    .product_stats .stats_row .one_stat img, .product_stats .stats_row .one_stat p{
        margin: 0;
    }
    .genplan_wrap {
        padding-top: 15px;
    }
}


@media (max-width: 480px){
    .hat_wrapper {
        height: 460px;
    }
    .discount_section {
        margin-top: 120px;
            width: 430px;
    }
    .js_shop_preview_img{
       width: calc(33.33% - 10px);
    }
}
@media (max-width: 430px){

    .cycle-slideshow-mob{
        margin-top: -475px;
    }
    .discount_section {
        margin-top: 160px;
        width: 360px;
    }
    .hat_wrapper {
        height: 450px;
    }
}

@media (max-width: 359px){
    .hat_wrapper {
        height: 400px;
    }
    .discount_section {
        margin-top: 200px;
        width: 100%;
    }
}
