.header-choose{
    display: none;
}

.how_we_work.hide-d{
    display:none;
}
.hat_menu li.hide-d{
    display: none;
}

.block-choose-y-type{
    border-top: 2px solid #7dc887;
    display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content:space-between;
    padding: 40px 0;
    display: none;
    max-width: 320px;
    margin: 0 auto;
}
.block-choose-y-type__col{
    padding: 0 20px;
}
.block-choose-y-type__item{
    text-align: center;
    text-transform: uppercase;
    color: #282e3d;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
    display: inline-block;
}
.block-choose-y-type__item:hover{
    color: #7dc887;
    text-decoration: none;
}
.block-choose-y-type__item.active{
    color: #7dc887;
}
.block-choose-y-type__item img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 10px;
}

.catalog__map__info-markers{
    padding: 20px 0;
    display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content:space-between;
    max-width: 320px;
    margin: 0 auto;
    font-size: 14px;
}

.catalog__map__info-marker img{
    margin-right: 5px;
}


@media (max-width: 575px){
    .hat_section {
        
        width: 100%;
        max-width: 100%;
        padding: 25px 20px 0 20px;
        display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content:space-between;
    }
    
    .hat_logo {
        padding: 0px;
        width: 70px;
    }
    #mob_menu_opener{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #mob_menu_opener img{
        margin: 0 auto;
    }
    #mob_menu_opener span{
        font-size: 11px;
        font-weight: 800;
        color: #fff;
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .header-choose{
        display: block;
        text-align: center;
        margin: 0;
    }
    .header-choose__link{
        color: #fff;
        font-size: 11px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .header-choose__link span{
        margin-bottom: 10px;
        display: block;
    }
    
    .hat_wrapper .offer_section_text{
        display: none;
    }
    .hat_wrapper{
        height: 475px;
    }
    .discount_section {
        margin-top: 100px;
        margin-bottom: 50px;
        width: 480px;
    }
    .how_we_work.show-m{
        display: block;
        margin-top: -30px;
        padding-top: 0;
    }
    .how_we_work.hide-m{
        display:none;
    }
    .hat_menu li.hide-m{
        display: none;
    }
    .hat_menu li.hide-d{
        display: block;
    }
    .hat_menu_link{
        padding: 14px 0;
            border-bottom: 1px solid #e5e5e5;
    }
    .hat_menu_container ul {
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hat_menu_container ul li:nth-child(1), .hat_menu_container ul li:nth-child(2){
        border: none;
    }
    .hat_wrapper_thin{
        padding-bottom: 25px;
    }
    
    
    .block-choose-y-type{
        display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        
    }
    .type_header{
        line-height: 1.2;
    }

    .catalog__map{
            height: 515px !important;
            border-top: 2px solid #7dc887;
            border-bottom: 2px solid #7dc887;
            margin-left: -17px;
            margin-right: -17px;
            width: calc(100% + 34px) !important;
    }
    .catalog__map .geo{
        height: 100% !important;
        width: 100% !important;
        
    }
    .catalog__map__info-markers{
        padding-top: 10px;
        padding-bottom: 0;
    }
}


@media (max-width: 480px){
    .hat_wrapper {
        height: 460px;
    }
    .discount_section {
        margin-top: 120px;
            width: 430px;
    }
}
@media (max-width: 430px){

    .cycle-slideshow-mob{
        margin-top: -475px;
    }
    .discount_section {
        margin-top: 160px;
        width: 360px;
    }
    .hat_wrapper {
        height: 450px;
    }
}

@media (max-width: 359px){
    .hat_wrapper {
        height: 400px;
    }
    .discount_section {
        margin-top: 200px;
        width: 100%;
    }
}
